<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://minglie.github.io/js/M_mock.js"></script>
</head>
<body>
<div id="app">
    <select v-model="topic">
        <option v-for="x in topicList">{{x.topic}}</option>
    </select>
    <br/>
    <textarea v-model="body" rows="30" cols="100"></textarea>
    <div style="margin-top: 200px">
        <button style="width: 1000px; background-color:green;" v-on:click="addMessage">send</button>
    </div>
</div>
<script>
    M.host="";
    let rua=new Vue({
        el:"#app",
        data:{
            topicList:[],
            topic:"",
            body:""
        },
        created:function(){
            M.doSql("select topic from ming_mysql_mq_config;",(u)=>{this.topicList=u.data[0]})
        },
        methods:{
            addMessage:function(e){
                let message={topic:this.topic,body:this.body};
                fetch("/addMessage",
                    {
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        method: "POST",
                        body: JSON.stringify(message)})
                    .then((res) => {return res.json()}).
                then(function(res){ console.log(res) })
                    .catch(function(res){ console.log(res) })
            }
        }
    });
</script>
</body>
</html>
